.cartelera-container {
    max-width: 1100px; /* Ancho máximo similar al del header */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding: 20px 0; /* Espacio entre el contenido y los bordes del contenedor */
    background-color: #FFFFFF; /* Color de fondo del contenedor */
}

.cartelera-image {
    flex: 1;
}

/* En tu archivo CSS */
.cartelera-image img {
    max-width: 100%;
    max-height: 27.1vh; /* Reducido en un 20% (originalmente era 50%) */
    object-fit: contain; /* Ajustar la imagen para llenar el contenedor */
}

.cartelera-title {
    flex: 1; /* El título ocupará el espacio restante a la derecha */
    color: var(--Rojo);
}

.cartelera-title h6{
   font-size: 2vh;
   font-weight: 700;
}

.cartelera-subtitulo {
    margin-top: 1vh;
}

.cartelera-oracion{
    margin-bottom: 3.2vh;
}

.cartelera-image2 img {
    max-width: 100%;
    max-height: 27.1vh;  /* Reducido en un 20% (originalmente era 50%) */
    object-fit: contain; /* Ajustar la imagen para llenar el contenedor */
}

.cartelera-title2 {
    flex: 1; /* El título ocupará el espacio restante a la derecha */
    color: var(--Rojo);
    margin-top: 1vh;
}

.cartelera-title2 h6 {
    font-size: 2vh;
    font-weight: 700;
 }

 .tiempo {
    margin-top: -2vh;
    opacity: 75%;
    font-size: small;
 }
 
.grid-container {
display: none;
}

p{
    margin: 0;
    margin-top: 5px;
}
.grid-container > div {
    background-color: #ffffff;
    text-align: left;
    font-size: 30px;
}
.title{
    color: var(--Rojo);
    font-size: 1.3vh;
    font-weight: 700;
}
.subtitle{
    font-family: 'Merriweather Light';
    font-size: 3vh;
    line-height: 2.7vh;
    text-align: left;
}
.textoParrafo{
    font-family: 'PP Neue Montreal Book';
    font-size: 1.5vh;
    line-height: 1.8vh;
}
.timePublished{
    font-family: 'PP Neue Montreal Thin';
    font-size: 1.1vh;
    letter-spacing: 0.1vh;
    opacity: 0.9;
 }
.item1 {
    border-bottom: 1px solid black; 
    background-color: rgb(45, 143, 26);
}
.item2 {
    grid-column: span 2; /* Hace que el elemento 2 ocupe 2 filas */
    border-bottom: 1px solid black; 
}
.foto1item2{
    width: 98%;  
    height: 92%; 
    object-fit: contain;
}
.item3 {
    grid-row: span 2; /* Hace que el elemento 3 ocupe 2 filas */
    border-left: 1px solid black; 
    padding-left: 15px; 
    border-bottom: 1px solid black; 
}
.foto2item3,.foto4item3{
    max-height: 14vh;
    min-height: 14vh;
    max-width: 100%;
    min-width: 100%;
}

#titleModified{
    margin-top: -24px;
}
#titleModified2{
    margin-top: 20px;
}
.item4 {
    border-bottom: 1px solid black; 
}
.item5 {
    display: flex;
    justify-content: center;  
    align-items: center;
    border-bottom: 1px solid black; 
}
.foto3item5{
    width: 95%;  
    height: 85%; 
    object-fit: contain;
    margin-right: 10px;
    padding-right: 15px; 
    border-right: 1px solid black; 
}
.item6 {
    border-bottom: 1px solid black; 
    margin-top: 15px;
}
.item7modelo {
    height: 12.6vh;
    margin-top: 20vh;
}
.item8modelo {
    height: 12.6vh;
    margin-top: 20vh;
}
.item9modelo {
    height: 12.6vh;
    margin-top: 20vh;
}
.item10modelo {
    height: 12.6vh;
    margin-top: 20vh;
}

.carteleraLaptop{
    display: none;
 }

@media (min-width: 1025px) {
    .cartelera-container{
        display: none;
    }
    
     .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 5% 50% 25% 20%;
        max-height: 70vh; 
        min-height: 70vh; 
        background-color: #ffffff;
        /* margin-top: 40px; */
    }
}
