/* En tu archivo CSS */
.cartelera-container {
    max-width: 1100px; /* Ancho máximo similar al del header */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding: 20px 0; /* Espacio entre el contenido y los bordes del contenedor */
    background-color: #FFFFFF; /* Color de fondo del contenedor */
}

.cartelera-image {
    flex: 1;
}

/* En tu archivo CSS */
.cartelera-image img {
    max-width: 100%;
    max-height: 27.1vh; /* Reducido en un 20% (originalmente era 50%) */
    object-fit: cover; /* Ajustar la imagen para llenar el contenedor */
}


.cartelera-title {
    flex: 1; /* El título ocupará el espacio restante a la derecha */
    color: var(--Rojo);
}

.cartelera-title h6{
   font-size: 2vh;
   font-weight: 700;
}

.cartelera-subtitulo {
    margin-top: 1vh;
}

.cartelera-oracion{
    margin-bottom: 3.2vh;
}

.cartelera-image2 img {
    max-width: 100%;
    max-height: 27.1vh;  /* Reducido en un 20% (originalmente era 50%) */
    object-fit: cover; /* Ajustar la imagen para llenar el contenedor */
}

.cartelera-title2 {
    flex: 1; /* El título ocupará el espacio restante a la derecha */
    color: var(--Rojo);
    margin-top: 1vh;
}

.cartelera-title2 h6 {
    font-size: 2vh;
    font-weight: 700;
 }

 .tiempo {
    margin-top: -2vh;
    opacity: 75%;
    font-size: small;
 }
 
 .title,.title2{
    color: var(--Rojo);
    font-family: 'PP Neue Montreal Bold';
    font-size: 1.3vh;
    margin-top: 27px;  
 }

 .cuadrado1b{
    margin-top: 43px;
 }

 .cuadrado2bc h5{
    margin-top: 30px;
 }
 
  

 .subtitle{
    font-family: 'Merriweather Light';
    font-size: 3vh;
    line-height: 2.7vh;
    margin-bottom: 30px;
 }
 .textoParrafo{
    font-family: 'PP Neue Montreal Book';
    font-size: 1.5vh;
    line-height: 1.8vh;
    margin-top: -20px;
 }
 .timePublished{
    font-family: 'PP Neue Montreal Thin';
    font-size: 1.1vh;
    letter-spacing: 0.1vh;
    margin-bottom: 50px;
    opacity: 0.6;
 }

 #titleModififeed{
    margin-top: -30px;
 }

 /* Wut2 */
 .title2{
    margin-top: 10px;
 }

 .cuadrado1{
    height: 28vh;
}

.cuadrado1b{
    height: 18.6vh;
}

.cuadrado2{
    height: 28vh;
}

.cuadrado2b{
    height:64.5%;
    border-right: 2px rgb(0, 0, 0) solid;
    margin-top: 65px;
}
 
.cuadradoComplemento1{
    margin-top: -20px;
}
/* 270x150 */
.foto3{
    margin-right: 10px;
}
.cuadrado2bc{
    margin-top: 32px;
    margin-left: 17px;
}
.cuadrado3{
    background-color: green;
    height: 28vh;
}

.with-border {
    border-right: 2px solid black; 
    /* border-bottom: 2px solid black;  */
    /* margin-bottom: -2px; */
}
.with-border2 {
    border-right: 2px solid black; 
    padding-right: 15px; 
    border-bottom: 2px solid black; 
    margin-bottom: -32px;
}
 .shamouna{
    display: flex;
 }

.lineaArribaDeArriba{
    height: 2px;
    background-color: black;
    width: 33.3%;
    position: absolute;
    left: 0;
    margin-left: 40px;
    margin-top: 30px;
}

.lineaArribaDeExtras{
    height: 2px;
    background-color: black;
    width: 96%;
    position: absolute;
    left: 0;
    margin-left: 40px;
}

.extras{
    margin-top: 30px;
    height: 13vh;
}
.extras h6{
    font-family: 'PP Neue Montreal Bold';
}
/* .extrash6{
    font-family: 'Merriweather Light';
    font-size: 2vh;
    line-height: 1.7vh;
    overflow: hidden;
} */
.carteleraLaptop{
    display: none;
 }

 /* 540x235 */
 .foto1{
    margin-top: 25px;  
 }

@media (min-width: 1025px) {
    .cartelera-container{
        display: none;
    }
    
     .carteleraLaptop {
        margin-top: 5vh;
        display: flex;
        flex-direction: column; /* Cambia la dirección de los elementos a vertical */
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: space-between; /* Distribuye uniformemente los elementos verticalmente */
    }
}
