.magazine{
	width: 700px;
	height: 500px;
	margin: auto;
	padding: 0;
}

.image-container {
	width: 350px; /* Ancho fijo */
	height: 250px; /* Alto fijo */
	background-size: cover; /* Ajustar la imagen al contenedor sin distorsión */
  }